@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

button{
  background-color: transparent;
}

body {
  background: #222222;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container{
  display: grid;
  position: relative;
  text-align: center;
  grid-template-columns: auto auto auto;
}

.board-draw{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  
}

.window-description{
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  font-size: 2rem;
}

circle,
rect,
line {
  stroke-linecap: round;
  fill: transparent;
}

h1 {
  margin: 2rem;
}




/* .info-wrapper button {
  background: #272727;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
} */


/* .board-row:after {
  clear: both;
  content: "";

} */
  
.winline-holder {   
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .winline-inner {
    width: 100vw;
    height: 100vh;
  }

.status {
  color: #424242;
  margin-bottom: 10px;
}

.square {

  background: white;
  float: left;
  font-weight: bold;
  text-align: center;
  border: none;
  /* height: calc(100vh / 5);
  width: calc(100vh/ 5); */
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
  }
  

  .game-info {
    font-size: 48px;
    color: #424242;
    margin-top: 20px;
    text-align: center;
  }
  
  .restart-button {
    margin-top: 20px;
    text-align: center;
  }
  
  .restart:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .restart:focus {
    outline: none;
  }
  
  .restart:active {
    box-shadow: 0 1px #424242;
    transform: translateY(1px);
  }
  
  .restart {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #424242;
    color: #fffde7;
    border: none;
    font-size: 24px;
    line-height: 48px;
    height: 48px;
    width: 40%;
    text-align: center;
    border-radius: 4px;
  }