@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}


body {
  background: #222222;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader{
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: calc(10px + 2vmin);
  color: white;
}

button{
  background-color: transparent;
}


.restart-button {
  border: none; 
  font-size: calc(10px + 2vmin);
}

.grid-container{
  display: grid;
  position: relative;
  text-align: center;
  grid-template-columns: auto auto auto;
}

.board-draw{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.window-description{
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  font-size: 2rem;
}

circle,
rect,
line {
  stroke-linecap: round;
  fill: transparent;
}

h1 {
  margin: 2rem;
}

.winline-holder {   
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  .winline-inner {
    width: 100vw;
    height: 100vh;
  }

.status {
  color: #424242;
  margin-bottom: 10px;
}

.square {

  background: white;
  float: left;
  font-weight: bold;
  text-align: center;
  border: none;
  /* height: calc(100vh / 5);
  width: calc(100vh/ 5); */
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
  }
  

  .game-info {
    font-size: 48px;
    color: #424242;
    margin-top: 20px;
    text-align: center;
  }
